body {
    background: #000;
}
a {
    text-decoration: none;
}
.box {
    text-align: center;
}
.block {
    padding: 50px 70px;
    background-color: orange;
    display: inline-block;
    border-radius: 15px;
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.block:hover {
    color: black;
    background-color: #fff;
    transition: .6s;
}